@import '../../../styles/styles.scss';

.leyla-naib {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &__name {
        display: flex;
        align-items: flex-end;
        margin-bottom: 100px;
        h1 {
            @include fontStyles($cormorantFont, 100px, 400, $blackColorContacts);
        }
        p {
            @include fontStyles($interFont, 20px, 400, $blackColorContacts);
            margin-bottom: 15px;
        }
    }
}