@import '../../../styles/styles.scss';

.leyla-naib {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &__name {
        display: flex;
        align-items: flex-end;
        h1 {
            @include fontStyles($cormorantFont, 130px, 400, $blackColorContacts);
        }
        p {
            @include fontStyles($interFont, $fontSizeTexts-1920px, 400, $blackColorContacts);
            margin-bottom: 20px;
        }
    }
}

@media only screen and (max-width: 1600px) {
    .leyla-naib {
        &__name {
            h1 {
                font-size: 110px;
            }
            p {
                font-size: $fontSizeTexts-1600px;
                margin-bottom: 16px;
            }
        }
    }
}

@media only screen and (max-width: 1450px) {
    .leyla-naib {
        &__name {
            h1 {
                font-size: 100px;
            }
            p {
                font-size: $fontSizeTexts-1450px;
                margin-bottom: 15px;
            }
        }
    }
}