@import '../../../../styles/styles.scss';

.main-img-container {
    position: relative;
    padding: 40px 0 70px 0;
    img {
        width: 100%;
        object-fit: cover;
    }
    p {
        position: absolute;
        top: 80px;
        left: $mainPaddingRightAndLeft;
        text-transform: uppercase;
        @include fontStyles($interFont, 1.4rem, 400, $blackColorContents);
    }
}

@media only screen and (max-width: 1600px) {
    .main-img-container {
        p {
            font-size: $fontSizeTexts-1920px;
        }
    }
}

@media only screen and (max-width: 1450px) {
    .main-img-container {
        p {
            font-size: $fontSizeTexts-1600px;
        }
    }
}

@media only screen and (max-width: 486px) {
    .main-img-container {
        img {
            aspect-ratio: 1/1;
        }
    }
}

@media only screen and (max-width: 320px) {
    .main-img-container {
        p {
            font-size: $fontSizeTexts-1450px;
        }
    }
}