@import '../../../styles/styles.scss';

.work-cards {
    padding: 0 16% 100px $mainPaddingRightAndLeft;
    // background-color: $backColorLightGreen;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__card-item {
        width: 45%;
        margin-bottom: 100px;
        &__image-link {
            width: 100%;
            height: 130px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &__title {
            @include fontStyles($interFont, 1.5rem, 600, $blackColorContents);
            margin-top: 15px;
        }
    }
}