@import '../../../styles/styles.scss';

.interior-content {
    padding-left: $mainPaddingRightAndLeft;
    display: flex;
    align-items: center;
    p {
        width: 35%;
        margin-right: 50px;
        line-height: 25px;
        @include fontStyles($interFont, $fontSizeTexts-1920px, 500, $blackColorHeaders);
    }
}

@media only screen and (max-width: 1600px) {
    .interior-content {
        p {
            font-size: $fontSizeTexts-1600px;
            line-height: 23px;
        }
    }
}

@media only screen and (max-width: 1450px) {
    .interior-content {
        p {
            font-size: $fontSizeTexts-1450px;
            line-height: 21px;
        }
    }
}

@media only screen and (max-width: 1280px) {
    .interior-content {
        p {
            width: 40%;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .interior-content {
        padding-right: $mainPaddingRightAndLeft;
        p {
            width: 45%;
        }
    }
}

@media only screen and (max-width: 991px) {
    .interior-content {
        padding: 0 20px;
        p {
            width: 45%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .interior-content {
        flex-direction: column;
        p {
            width: 100%;
            margin-right: 0;
            &:not(:first-child) {
                margin-top: 70px;
            }
            line-height: 23px;
        }
    }
}