// FONTS
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

$cormorantFont: 'Cormorant';
$interFont: 'Inter';

// COLORS
$backColorBlue: #3E71F1;
$backColorLightGreen: #99D4C2;
$backColorPurple: #BC85D4;
$backColorPink: #D66CA3;
$lightGrayText: #F1F1F1;
$lightGrayHeader: #F2F2F2;
$blackColorHeaders: #383838;
$blackColorContents: #151515;
$blackColorContacts: #101010;
$redColorError: #E21919;
$bottomLineColor: #F0E983;


// FONT SIZES
$generalFontSizeTexts: 1rem;

// MARGINS