@import '../../../styles/styles.scss';

.about-images {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 430px $mainPaddingRightAndLeft 350px $mainPaddingRightAndLeft;
    &__triangle {
        width: 80%;
        position: absolute;
        z-index: 1000;
        left: 0;
        top: -20%;
        img {
            width: 100%;
        }
    }
    &__main-img {
        width: 37%;
        img {
            width: 100%;
        }
    }
    &__small-img {
        width: 30%;
        margin-top: 30px;
        &__rotate {
            width: 80%;
            transform: rotate(-14deg);
            img {
                width: 100%;
            }
        }
        p {
            @include fontStyles($interFont, $fontSizeTexts-1920px, 500, $lightGrayText);
            line-height: 25px;
            margin-top: 50px;
        }
    }
    &__medium-img {
        width: 23%;
        img {
            width: 100%;
        }
        p {
            @include fontStyles($interFont, $fontSizeTexts-1920px, 500, $lightGrayText);
            line-height: 25px;
            margin-top: 70px;
        }
    }
}

@media only screen and (max-width: 991px){
    .about-images{
        padding: 430px 20px 250px 20px;
    }

    .about-images__triangle{
        width: 200%;
        left: -77%;
        top: 3%;
    }

    .about-images__small-img{
        width: 75%;
        position: absolute;
        top: 10%;
        left: 10%;
        padding-right: 20px;
    }

    .about-images__small-img__rotate {
        width: 100%;
        transform: unset;
    }

    .about-images__small-img p {
        width: 140%;
        padding-right: 40px;
    }

    .about-images__main-img,
    .about-images__medium-img{
        margin-top: 120%;
    }

    .about-images__medium-img{
        width: 30%;
        order: -1;
    }

    .about-images__medium-img p{
        position: absolute;
    }

    .about-images__main-img{
        width: 45%;
        margin-right: 20%;
    }
}