@import '../../../styles/styles.scss';

.view-all {
    background-color: $backColorLightGreen;
    height: 100vh;
    padding: 85px 12% 85px 16%;
    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        p {
            font-size: 65px;
            font-family: $cormorantFont;
            font-weight: 400;
            color: $blackColorContents;
            margin-right: 30px;
        }
        div {
            padding: 10px 23px 7px 23px;
            border-radius: 25px;
            border: 2px solid $blackColorContents;
            img {
                width: 80px;
            }
        }
    }
    &__images-section {
        display: flex;
        &__scroll-card-line {
            height: 1px solid $blackColorContents;
        }
    }
}