@import '../../../styles/styles.scss';

.view-all {
    // background-color: $backColorLightGreen;
    height: 100vh;
    padding: 85px 12% 85px 16%;
    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        p {
            @include fontStyles($cormorantFont, $commonMiddleFontSize-1920px, 400, $blackColorContents);
            margin-right: 30px;
        }
        div {
            padding: 8px 25px 5px 25px;
            border-radius: 25px;
            border: 2px solid $blackColorContents;
            svg {
                width: 65px; 
                height: 15px;
                fill: $blackColorContents;
            }
        }
    }
    &__images-section {
        display: flex;
        justify-content: space-between;
        &__cards {
            width: 100%;
            height: 600px;
            margin-right: 65px;
            overflow: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            &__card-item {
                position: relative;
                width: 100%;
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
                &__image {
                    width: 100%;
                    height: 110px;
                    transition: all 0.2s linear;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                &__view-work {
                    position: absolute;
                    top: 45%;
                    right: 40px;
                    display: flex;
                    align-items: center;
                    border: 2px solid $blackColorContents;
                    border-radius: 25px;
                    padding: 6px 20px 5px 20px;
                    opacity: 0;
                    transition: all 0.2s linear;
                    p {
                        @include fontStyles($interFont, $fontSizeTexts-1920px, 500, $blackColorContents);
                        margin-right: 15px
                    }
                    svg {
                        width: 65px; 
                        height: 15px;
                        fill: $blackColorContents;
                    }
                }
            }
            &__card-item:hover &__card-item__image {
                height: 350px;
            }
            &__card-item:hover &__card-item__view-work {
                opacity: 1;
            }
        }
        &__scroll-card-line {
            height: 600px;
            z-index: 999;
            input {
                height: 1px;
                background-color: $blackColorContents;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                outline: none;
                transform: rotate(90deg);
                width: 600px;
                margin: 299px -300px 0 -300px;
                transition: all 0.3s;
            }
            input::-webkit-slider-thumb {
                -webkit-appearance: none;
                height: 21px;
                width: 21px;
                background-color: transparent;
                cursor: pointer;
                border-radius: 50%;
                pointer-events: auto;
                border: 1px solid $blackColorContents;
                background-color: $backColorLightGreen;
            }
            input::-moz-range-thumb {
                -webkit-appearance: none;
                height: 21px;
                width: 21px;
                background-color: transparent;
                cursor: pointer;
                border-radius: 50%;
                pointer-events: auto;
                border: 1px solid $blackColorContents;
            }
            input::-ms-thumb {
                -webkit-appearance: none;
                height: 21px;
                width: 21px;
                background-color: transparent;
                cursor: pointer;
                border-radius: 50%;
                pointer-events: auto;
                border: 1px solid $blackColorContents;
            }
            input::-ms-track {
                -webkit-appearance: none;
            }
            input::-webkit-slider-runnable-track {
                -webkit-appearance: none;
            }
            input::-moz-range-track {
                -webkit-appearance: none;
            }
            input:active::-webkit-slider-thumb  {
                background-color: $backColorLightGreen;
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    .view-all {
        &__title {
            p {
                font-size: $commonMiddleFontSize-1600px;
            }
        }
        &__images-section {
            &__cards__card-item__view-work {
                p {
                    font-size: $fontSizeTexts-1600px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1450px) {
    .view-all {
        &__title {
            p {
                font-size: $commonMiddleFontSize-1450px;
            }
        }
        &__images-section {
            &__cards__card-item__view-work {
                p {
                    font-size: $fontSizeTexts-1450px;
                }
            }
        }
    }
}