@import "../../styles/styles.scss";

.background-color-white {
  background-color: white;
}
.background-color-blue {
  background-color: $backColorBlue;
}
.background-color-lightgreen {
  background-color: $backColorLightGreen;
}
.background-color-purple {
  background-color: $backColorPurple;
}
.background-color-pink {
  background-color: $backColorPink;
}
