@import '../../styles/styles.scss';

.background-color-white {
    background-color: white;
}
.background-color-blue {
    background-color: #3e71f1;
}
.background-color-lightgreen {
    background-color: #99d4c2;
}
.background-color-purple {
    background-color: #bc85d4;
}
.background-color-pink {
    background-color: #d66ca3;
}