@import "../../../styles/styles.scss";

.about-leila {
  padding: 60px 0 0 $mainPaddingRightAndLeft;
  //   background-color: $backColorBlue;
  display: flex;
  height: 100vh;
  opacity: 1;
  position: relative;

  &__image {
    position: absolute;
    width: 38%;
    z-index: 999;
    max-height: 320px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__description {
    &__texts {
      display: flex;
      align-items: flex-start;
      margin: 0 $mainPaddingRightAndLeft 0 auto;
      padding: 10px 0 30px 70px;
      width: 45%;
      border-top: 2px solid #7194eb;
      p {
        @include fontStyles(
          $interFont,
          $fontSizeTexts-1920px,
          500,
          $lightGrayText
        );
        line-height: 25px;
        margin-left: 10px;
      }
    }
    &__triangle {
      position: absolute;
      right: 0;
      width: 61%;
      &__image {
        width: 100%;
        position: absolute;
        right: 0;
        z-index: 500;
        img {
          width: 100%;
        }
      }
      h1 {
        @include fontStyles(
          $cormorantFont,
          $commonMiddleFontSize-1920px,
          400,
          white
        );
        text-align: end;
        padding-right: 12%;
        padding-top: 30px;
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .about-leila {
    &__description {
      &__texts {
        p {
          font-size: $fontSizeTexts-1600px;
        }
      }
      &__triangle {
        width: 58%;
        h1 {
          font-size: $commonMiddleFontSize-1600px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .about-leila {
    &__image {
      img {
        max-height: 600px;
      }
    }
  }
}

@media only screen and (max-width: 1450px) {
  .about-leila {
    &__description {
      &__texts {
        p {
          font-size: $fontSizeTexts-1450px;
        }
      }
      &__triangle {
        width: 58%;
        h1 {
          font-size: $commonMiddleFontSize-1450px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .about-leila {
    &__image {
      img {
        max-height: 500px;
      }
    }
  }
}

@media only screen and (max-width: 1160px) {
  .about-leila {
    &__description {
      &__triangle {
        width: 52%;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .about-leila {
    padding: 150px 20px;
    height: auto;
    flex-direction: column;
    &__image {
      position: static;
      width: 70%;
      margin-bottom: 13px;
    }
    &__description {
      &__texts {
        margin: 20px 0;
        flex-direction: row;
        padding: 0;
        width: 100%;
        p {
          width: 100%;
        }
      }
      &__triangle {
        width: 100%;
        &__image {
          width: 125%;
          right: 0;
          position: absolute;
          z-index: -1;
          top: 3px;
        }
        h1 {
          padding: 0;
          margin: 0;
          text-align: left;
          padding-left: 45px;
          font-size: 40px;
          line-height: 48px;
          // top: ;
          padding-top: 5px;
        }
      }
    }
  }
}
