@import "../../styles/styles.scss";

.header {
  color: $blackColorContacts;
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding: 20px $mainPaddingRightAndLeft 0 $mainPaddingRightAndLeft;
  font-family: "Inter";
  font-weight: 500;
  text-transform: uppercase;

  transition: all 0.3s;
  z-index: 9999;

  .logo {
    .logo-white {
      display: none;
    }
  }
  nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &.navigation {
        li {
          display: flex;
          align-items: baseline;
          a {
            margin-left: 20px;
            display: flex;
            align-items: center;
            display: flex;
            padding: 5px 15px;
            border-radius: 15px;
            @include fontStyles(
              $interFont,
              $fontSizeTexts-1920px,
              500,
              $blackColorContacts
            );
            .dot {
              display: none;
            }
            &.active {
              .dot {
                display: inline-block;
                font-size: 30px;
              }
            }
            transition: all 0.1s linear;
            &:hover {
              cursor: pointer;
            }
            &:first-child {
              margin-left: 0;
            }
            &:hover {
              cursor: pointer;
              border: 2px solid $blackColorContacts;
            }
          }

          &.language {
            > a {
              display: none;
            }
            &:hover {
              border: none;
            }
            ul {
              li {
                margin-left: 0px;
              }
            }
          }
        }
      }
    }
  }
  &.header-white {
    .logo {
      .logo-black {
        display: none;
      }
      .logo-white {
        display: block;
      }
    }
    nav {
      ul {
        &.navigation {
          li {
            a {
              color: white;
            }
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 1600px) {
  .header {
    nav {
      ul {
        &.navigation {
          li {
            a {
              font-size: $fontSizeTexts-1600px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1450px) {
  .header {
    nav {
      ul {
        &.navigation {
          li {
            a {
              margin-left: 10px;
              padding: 5px 10px;
              font-size: $fontSizeTexts-1450px;
            }
          }
        }
      }
    }
  }
}
