@import "../../styles/styles.scss";

.header {
  color: $blackColorContacts;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  padding: 20px $mainPaddingRightAndLeft;
  font-family: "Inter";
  font-weight: 500;
  text-transform: uppercase;
  nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &.navigation {
        li {
          margin-left: 38px;
          @include fontStyles($interFont, $fontSizeTexts-1920px, 500, $blackColorContacts);
          &:first-child {
            margin-left: 0;
          }
          &:hover {
            cursor: pointer;
          }
          &.language {
            ul {
              li {
                margin-left: 9px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .header {
    nav {
      ul {
        &.navigation {
          li {
            font-size: $fontSizeTexts-1600px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1450px) {
  .header {
    nav {
      ul {
        &.navigation {
          li {
            font-size: $fontSizeTexts-1450px;
          }
        }
      }
    }
  }
}