@import '../../styles/styles.scss';

.footer {
    padding: 0 $mainPaddingRightAndLeft 70px $mainPaddingRightAndLeft;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__social-media, &__policy {
        display: flex;
        p {
            @include fontStyles($interFont, $fontSizeTexts-1920px, 500, $blackColorContacts);
            text-transform: uppercase;
            &:first-child {
                margin-right: 40px;
            }
        }
    }
    &.footer-white {
        .footer__social-media, .footer__policy {
            p {
                color: white;
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    .footer {
        margin-top: 70px;
        &__social-media, &__policy {
            p {
                font-size: $fontSizeTexts-1600px;
            }
        }
    }
}

@media only screen and (max-width: 1450px) {
    .footer {
        margin-top: 130px;
        &__social-media, &__policy {
            p {
                font-size: $fontSizeTexts-1450px;
            }
        }
    }
}