@import '../../../styles/styles.scss';

.about-contents {
    padding: 0 $mainPaddingRightAndLeft;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item-container {
        width: 30%;
        margin-top: 100px;
        h1 {
            @include fontStyles($cormorantFont, $commonMiddleFontSize-1450px, 500, white);
        }
        p {
            @include fontStyles($interFont, $fontSizeTexts-1920px, 500, $lightGrayText);
            line-height: 25px;
            margin-top: 30px;
        }
    }
}